body
{background-color: blue;
}

h1{
  color: #66BFBF;
}
h3{
    color: #66BFBF;
}
hr{
  background-color: red;
  border-style: dashed;
  border-width: 9px;
  height: 6px;
  width: 20%;
}
